@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", sans-serif;
}
#four h1{
    text-align: center;
    color:aliceblue;
    border: 2px aliceblue solid;
    backdrop-filter: blur(10px);
    border-radius:50px;
    font-size: 30px;
    margin-bottom: 90px;
    margin-top: 90px;
 
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact a{
    font-family: boxicons !important;
    text-decoration: none;
    font-size: 50px;
    color: aliceblue;
    padding:0 50px;
    background: 20px;
    backdrop-filter: blur(10px);
   border-radius: 30px;
   border: 2px aliceblue solid;
   margin: 90px 50px;

}
 .comment{
    border: 2px aliceblue solid;
    border-radius: 20px;
    margin-top: 20px;
    height: 350px;
    width: 557px;
    backdrop-filter: blur(10px);
    padding: 20px;
    
}
.comment label{
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}
.comment textarea{
    width:550px ;
    height:300px;
}
@media screen and(max-width:768px) {
    #four h1,footer,.contact a,.comment,.comment label,.comment textarea{
     font-size: 14px;
       width: 100%;
    }
}